
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Antqueee</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <!-- style css -->
     
      <link rel="stylesheet" type="text/css" href="css/style1.css">
      <link rel="stylesheet" type="text/css" href="css/profile.css">
      
     
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      </head>
<div>
  <header>
    <div class="d-flex justify-content-between p-2 col-12 bg-secondary text-white">
      <!--Site Badge-->
      <div class="d-none d-md-block">Company</div>
      <!-- Login Block-->
      <div class="col-12 col-md d-flex justify-content-center justify-content-md-end">
        Welcome back <a class="ml-1 text-white font-weight-bolder" href="#profile"><%=username %></a>!
      </div> 
    </div>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
      
       
        </div>
      </div>
    </nav>
    <!--End Navbar-->
  </header>
  
  
  <main class="container-fluid mb-3">
    <div class="row p-2">
      
        <!--Items Filter-->
        <div class="col-12 col-sm-4 col-lg-3">
           <div class="card">
             <form method="post" class="p-1">
               <section>
                 <span class="text-muted font-weight-bold">My Account</span>
                 <div class="col-12">
                
                   <div class="form-check">
                            <a>Home</a>
                   </div>
                   <div class="form-check">
                    <a>My Info</a>
                    </div>
                 <div class="form-check">
            <a>My Address Book</a>
         </div>
        <div class="form-check">
       <a>My orders</a>
       </div>
          <div class="form-check">
           <a>Whishlist</a>
          </div>
                  
                   
                   
                 </div>
               </section>
                
              
        </div>
        <!--End Items Filter-->
        </div>