<footer class=" bg-dark">
    <!--Top Footer-->
      <div class="bg-secondary py-3">
        <div class="col-sm-12 ">
          <div class="text-center text-white">Stay Connected</div>
            <ul class="nav justify-content-center ">
              <li class="nav-item">
                <a class="nav-link text-white" href="#" ><i class="fab fa-youtube" title="YouTube"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fab fa-twitter" title="Twitter"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fab fa-facebook" title="Facebook"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fab fa-instagram" title="Instagram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fab fa-snapchat" title="Snapchat"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fab fa-whatsapp" title="Whatsapp"></i></a>
              </li>
            </ul>
        </div>
      </div>
    <!--End Top Footer-->
    
    <div class="container ">
      <!--Bottom Footer-->
      <div class="row">
        <div class="col-12 d-flex">
            <ul class="col-3 nav d-flex p-0 flex-column justify-content-start">
            <li class="mb-3"><span class="text-primary font-weight-bold px-3" href="#">Brands</span></li>
            <li class="p-0"><a class="nav-link text-white py-0" href="#">Adidas</a></li>
              <li class="nav-item"><a class="nav-link text-white py-0" href="#">Nike</a></li>
              <li class="nav-item"><a class="nav-link text-white py-0" href="#">Puma</a></li>
          </ul>
          <ul class="col-3 nav d-flex p-0 flex-column justify-content-start">
            <li class="mb-3"><span class="text-primary font-weight-bold px-3" href="#">Company</span></li>
            <li class="p-0"><a class="nav-link text-white py-0" href="#">About us</a></li>
              <li class="nav-item"><a class="nav-link text-white py-0" href="#">Careers</a></li>
              <li class="nav-item"><a class="nav-link text-white py-0" href="#">Find a store</a></li>
            <li class="nav-item"><a class="nav-link text-white py-0" href="#">Sitemap</a></li>
          </ul>
          <ul class="col-3 nav d-flex p-0 flex-column justify-content-start">
            <li class="mb-3"><span class="text-primary font-weight-bold px-3" href="#">Help</span></li>
            <li class="p-0"><a class="nav-link text-white py-0" href="#">Contact us</a></li>
              <li class="nav-item"><a class="nav-link text-white py-0" href="#">Shipping info</a></li>
              <li class="nav-item"><a class="nav-link text-white py-0" href="#">Open dispute</a></li>
          </ul>
          <ul class="col-3 nav d-flex p-0 flex-column justify-content-start">
            <li class="mb-3"><span class="text-primary font-weight-bold px-3" href="#">Account</span></li>
            <li class="p-0"><a class="nav-link text-white py-0" href="#">My orders</a></li>
              <li class="nav-item"><a class="nav-link text-white py-0" href="#">My collection</a></li>
              <li class="nav-item"><a class="nav-link text-white py-0" href="#">Account settings</a></li>
          </ul>
        </div>
        
        <div class="col-12 py-3 d-flex align-items-center justify-content-between">
            <small class="text-white font-weight-light">Copyright © 2020 Company</small>
           <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-cc-discover text-white"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-cc-mastercard text-white"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-cc-paypal text-white"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-cc-visa text-white"></i></a>
              </li>
            </ul>
        </div>

      </div>
    </div>
